 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>With over 15 years of experience in web design, I have developed a deep understanding of HTML5, CSS3, and Bootstrap,
       and I'm always exploring the latest frameworks to find the best solutions for my clients. My design expertise allows me 
       to create user experiences that are not only functional but also visually engaging and aesthetically pleasing.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-dotnetcore-plain colored"></i>
      <i class="devicon-microsoftsqlserver-plain-wordmark colored"></i>
      <i class="devicon-csharp-plain-wordmark colored"></i>
      <p>With over 10 years of experience in backend development, I have a deep understanding of .NET Core, C#, and SQL, 
       and I'm always staying up-to-date with the latest technologies to deliver scalable and performant solutions for my
       clients. My expertise in backend development allows me to build robust, reliable systems that power the user-facing 
       experiences I create, delivering seamless and engaging experiences to users.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-original-wordmark"></i>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-vscode-plain-wordmark colored"></i>
      <p>To get the job done efficiently, I rely on a suite of powerful tools, including GitHub for version control, Visual Studio
       for streamlined development, and Adobe's Creative Suite for design and prototyping. These tools allow me to work more efficiently
       and effectively, ensuring that I can deliver high-quality solutions to my clients on time and on budget.</p>
    </div>
</div>
