<div class="user-details">
  <h1> Education </h1>
  <article>
    <h2>Centriq Training</h2>
    <img src="{{ "/assets/img/CentriqKCCampus.png" | prepend: site.baseurl }}" alt="Centriq Training" />
    <p>I completed formal training at Centriq Training in Kansas City, receiving my Microsoft Certified Technical Associate and Web Development Fundamentals certificates in 2013. These projects required SQL server 2012.. and as such are no longer live.</p>
  </article>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Student Administration Tool" src="{{ "/assets/img/SAT.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Student Admnistration Tool </h3>
    <ul>
      <li> ASP.NET Web Forms (C#) with SQL</li>
      <li> Achieved page load times subsecond load times by leveraging Google's CDN</li>
    </ul>
    <p>A school administration/schedule management system focusing on usability and performance. 
       Membership security, with navigation simplified to 3 levels ensuring ease of use.
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Trouble Support Tracker" src="{{ "/assets/img/TST.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Trouble Support Tracker </h3>
    <ul>
      <li>ASP.NET (C#) Web Forms, with SQL Server</li>
      <li> HTML5, CSS3, and jQuery </li>
      <li> Fully responsive, mobile-friendly layout</li>
    </ul>
    <p>A secure internal web application for submitting, managing, and logging the changes to trouble tickets and employees.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Video Game Outlet" src="{{ "/assets/img/VGO.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> E-Commerce </h3>
    <ul>
      <li> ASP.NET MVC C# with SQL</li>
      <li> Bootstrap</li>
      <li> Cross-browser-compatible jQuery Widget</li>
    </ul>
    <p>An E-commerce web application using Bootstrap, leveraging stored procedures and enhanced with a cross-browser-compatible drag-and-drop enabled shopping cart.</p>
  </div>
</div>
